h1{
    font-family: 'Courier New', Courier, monospace;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
  }

  form {
    color:#24c54c; /* Use your desired color code or name */
}
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 20px), 1fr));
    gap: 10px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card-content {
    /* Style the text content within the card */
    font-size: 16px;
    line-height: 1.5;
}

















/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }



body{
    font-family: montserrat; 
    background: #e7e7e7;
    height: 100vh; 
}
h3{
    text-align: center; 
    color: #413b3b; 
    font-weight: 900;
    text-transform: uppercase;
    font-size: 80px;
    font-family: serif;
}
h5{
    text-align: center;
    color: yellow;
    margin: 80px auto; 
    font-size: 20%;
    width: 50%; 
    line-height: 1.7;
}

.navbar{
    position: fixed;
}
.box{
    text-align: center;
}
.button{
    font-size: 1em;
    padding: 15px 35px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #403e3d;
    border-radius: 50px;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    Left: 0;
    right: 0;
    background: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

.wrapper{
    margin: 20px auto; 
    padding: 20px; 
    background: #e7e7e7;
    border-radius: 5px; 
    width: 10%; 
    position: relative; 
    transition: all 5s ease-in-out; 
}
.wrapper h2{
    margin-top: 0;
    color: #333
}
.wrapper .close{
    position: absolute ;
    top: 20px;
    right: 30px ;
    transition: all 200ms;
    font-size: 30px ;
    font-weight: bold;
    text-decoration: none;
    color: #333
}
.wrapper .content{
    max-height: 30%;
    overflow: auto;
}

.container{
    border-radius: 2px;
    background-color: #e7e7e7;
    padding: 10px 0; 

}

form label{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

input[type=text], textarea{
    width: 100%; 
    padding: 12px; 
    border: 1px dolif #ccc; 
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"]{
    background-color: #413b3b;
    color: #fff; 
    padding: 15px 50px; 
    border: none; 
    border-radius: 50px;
    cursor: pointer; 
    font-size: 15px; 
}




body{
    font-family: montserrat; 
    background: #e7e7e7; 
    height: 100vh; 
}
h3{
    text-align: center; 
    color: #413b3b; 
    font-weight: 900; 
    text-transform: uppercase;
    font-size: 80px; 
    font-family: zen tokyo zoo; 
}

.center-image{
    text-align: center;
}

.center-image{
    display: block;
    margin: 0 auto; 
}
